extends layout

block content
  .block
    h1.block__title Join a game

    form.form
      .form__group--input
        input#gid(type="number" placeholder="i.e. 123456")

    .block__action
      a.button(href="") Join

append scripts
  script(src="/js/join.js")
