doctype html5
html
  head
    block head
      meta(charset="utf-8")
      link(href="/css/main.css" rel="stylesheet")
      title Communists and Americans
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97017188-2"></script>
      script window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-97017188-2');

  body
    
    block content
    
    block scripts
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
